footer {

    text-align: center;

    display: flex;
    flex-direction: column;
    padding: 6em;
    padding-bottom: 0;
    
    img[alt^="logo"] {
        width: 20rem;
        object-fit: contain;
    }

    a {
        color: $aside-color;
    }

    .internal-links {
        
        li {
            padding: 0.8em 0.9em;

            a:hover {
                color: $secondary-color
            }
        }
    }

    address {

        margin-top: 1rem;

        > a {
            display: block;
            margin: 0.5rem 0; 
            font-style: initial;
        }

        .network-links {
            margin-top: 3rem;
            display: flex;
            justify-content: center;

            a {
                font-size: 1.8rem;

                margin: 0 1rem;
            }
            a:hover {
                color: $secondary-color;
            }
            
            svg:hover path {
                fill: $secondary-color;
            }
        }
    }
    
    .copyright {
        padding: 0 2rem;
        font-size: 0.9rem;
        color: $aside-color;
    }
}

hr {
    border: none;
    border-top: 1px solid rgba($main-color, 0.1);
    position: relative;
    bottom: 6rem;
    width: 100%;
}


@media screen and (min-width: 700px) {

    .internal-links {
        column-count: 2;
    }

    .copyright {
        margin-top: 2rem;
    }

    hr {
        bottom: 8rem;
    }
}


@media screen and (min-width: 1000px) {
    
    footer {
        text-align: center;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 2em;
        margin-left: -1.5em;
    }

    .network-links {
        justify-content: space-between;
    }

    .copyright {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 5rem;
    }

}