
header {
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1rem 0;
    background-color: $main-bg-color;

    a {
        color: $main-color;
        font-size: 1.4rem;
        text-transform: uppercase;
    }

    .menu-link {
        font-family: 'Playfair Display', serif;
        font-size: 2.8rem;
        text-transform: unset;
    }
     
}
  


