
.headerBack {
    position: fixed;
    top: 0;
    width: 100%;
}

header {
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
    background-color: $main-bg-color;

    img {
        width: clamp(10rem, 19vw, 14rem);
    }

    a {
        color: $main-color;
        font-size: 1.4rem;
        text-transform: uppercase;
    }

    .menu-link {
        font-family: 'Playfair Display', serif;
        font-size: clamp(1.7rem, 3vw, 2.8rem);
        text-transform: unset;
    }

    .book-table {
        display: none;
    }
     
}

.header-border {
    border-bottom: 1px solid rgba($main-color, 0.3);
}  


@media screen and (min-width: 700px) {

    header {    
        flex-direction: row;
        justify-content: space-around;
    }
}


@media screen and (min-width: 992px) {

    header {

        .book-table {
            display: block;
        }
    }
}
