

.home-hero {

    background: linear-gradient(to bottom right, rgba(16, 16, 16, 0.9), rgba(16, 16, 16, 0.9)),
    url(../img/meat-kabobs.jpeg) center;
    max-width: 1200px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 3rem 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $main-color;
    // overflow: hidden;
    // animation: zoom 1s infinite;

    // @keyframes zoom {
    //     from {
    //         transform: scale(0);
    //         transform-origin: 50% 50%;
            
    //     }
    //     to {
    //         transform: scale(1.3);
    //         transform-origin: 50% 50%;
    //     }
    // }


    h1 {
        font-size: 1.2rem;
        font-weight: unset;
        letter-spacing: 1px;
    }

    p {
        margin-top: 2rem;
        font-size: 7rem;
        font-family: 'Playfair Display', serif;
        letter-spacing: 1px;
        text-align: center;
        line-height: 1.2;
    }

    
}

.schedules {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6rem;
    background: linear-gradient(to top, rgba(26, 17, 3, 0.6), rgba(16, 16, 16, 1)),
    url(../img/turkish-roofs.jpg) center;

    > * {
        width: 30%;
    }

    .book-table {
        display: block;
        width: 45%;
        text-align: center;
        font-size: 1rem;
        margin-top: 1rem;
    }

    p:first-of-type {
        color: $secondary-color;
    }

    p span {
        @extend .main-title
    }
}

