

.home-hero {

    max-width: 1400px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 3rem 4rem;
    
    display: flex;    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    color: $main-color;
    animation: slider 18s infinite ease-in-out;

    @keyframes slider {
        0% {
            background: $gradient-overlay, url(img/green-pepper-on-meat.jpg) center;
        }
        25% {
            background: $gradient-overlay, url(img/meat-kabobs.jpeg) center;
        }
        75% {
            background: $gradient-overlay, url(img/pide-stone-oven.jpg) no-repeat;
            background-size: cover;
        }
        100% {
            background: $gradient-overlay, url(img/kunefe-scaled.jpg) no-repeat;
            background-size: cover;
        }
    }

    h1 {
        font-size: 1.2rem;
        font-weight: unset;
        letter-spacing: 1px;
        animation: appear 2s ease;
    }

    @keyframes appear {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    p {
        margin-top: 2rem;
        font-size: 7rem;
        font-family: 'Playfair Display', serif;
        letter-spacing: 1px;
        text-align: center;
        line-height: 1.2;
        animation: slideUp 0.7s cubic-bezier(0, 0, 0.16, 0.97);
    }
    
}

.schedules {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 6rem 10rem;
    background: linear-gradient(to top, rgba(26, 17, 3, 0.6), rgba(4, 4, 4, 1)),
    url(img/turkish-roofs.jpg) 50%;

    > * {
        width: 30%;
    }

    .book-table {
        display: block;
        width: 13rem;
        text-align: center;
        font-size: 1rem;
        margin-top: 1rem;
    }

    p:first-of-type {
        color: $secondary-color;
    }

    p + p {
        margin-top: 3.5rem;
        margin-right: 3rem;
    }

    p span {
        @extend .main-title;
        line-height: 1.2;
    }

    table {
        border-collapse: collapse;

        th {
            font-family: 'Playfair Display', serif;
            font-size: 1.5rem;
            text-align: unset;
            font-weight: unset;
            padding-bottom: 1rem;
        }

        td:not([rowspan] + td) {
            border-bottom: 1px solid rgba($main-color, 40%);
        }
        td:last-child {
            text-align: right;
        }
        tr:last-child td {
            padding-top: 1rem;
        }
    }
}

.testimonials {

    width: 50%;
    margin: 5rem auto;
    text-align: center;
    font-size: 1.1rem;

    blockquote::before {        
        content: url(img/quotes-right.svg);
        display: block;
        transform: scale(1.8);
        margin-bottom: 1rem;
        overflow: visible
    }
    
    blockquote::after {
        // content: '\f005 \00a0 \00a0 \f005 \00a0 \00a0 \f005 \00a0 \00a0 \f005 \00a0 \00a0 \f005';
        @mixin repeat($character, $n){
            $c:"";
            @for $i from 1 through $n {
                $c: $c + $character;
            }
            content: $c;
        }
        @include repeat('\f005 \00a0 \00a0', 5);
        
        font: var(--fa-font-solid);
        font-size: 0.8rem;
        display: block;
        margin: 3.5rem 0 2rem;
        color: $secondary-color;
    }

    p {
        color: $secondary-color;
        margin-bottom: 0;
    }
    cite {
        color: #757575;
        font-style: unset;
    }
}

.video-hero {
    max-height: 70vh;
    overflow: hidden;
    position: relative;
    
    video {
        max-width: 100%;
        object-fit: cover;
        object-position: center right;
    }

    .overlay {
        background: linear-gradient(to right, rgba(16, 16, 16, 0.9), rgba(16, 16, 16, 0.9));
        opacity: 0.7;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;

        h2 {
            margin-bottom: 0;
        }
        p {
            margin-top: 0;
            font-size: 1.2rem;
        }
      }
      
}

.intro-menu {

    article:first-of-type {

        width: 75%;
        margin: 12rem auto 8rem;
    
        img {
            float: left;
            max-width: 50%;
            margin-right: 6rem;
            margin-bottom: 3rem;
            object-fit: contain;
            filter: opacity(0.6);
        }
        
        img + p {
            color: $secondary-color;
            letter-spacing: 5px;
        }
        
        h2 {
            text-transform: unset;
            text-align: left;
            line-height: 1.1;
            margin: 1rem 0;
        }

        .book-table {
            clear: both;
            display: block;
            width: 12rem;
            margin: 0 auto;
        }

    }

    .pic-gallery {
        
        display: flex;
        
        figure {
            position: relative;
            margin: 0;
            width: 25vw;
            height: 17rem;

            img {
                height: 17rem;
                object-fit: cover;
                min-width: 100%;
                cursor: pointer;
            }

            img:hover + figcaption, figcaption:hover {
                opacity: 1;
                height: 100%;
            }
            
            figcaption {
                @extend .slide-caption 
            }
        }

    }
}

.book-hero {
    background: linear-gradient(to bottom right, rgba(11, 11, 11, 0.8), rgba(13, 13, 13, 0.8)),
    url(./img/restaurant-room.jpg) fixed no-repeat;
    background-size: cover;
    height: 30rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    article {
        width: 57%;
        text-align: center;

        h2 {
            text-transform: unset;
            margin-bottom: 0;
        }
        p {
            padding: 0 2rem;
            margin-bottom: 3rem;
        }
    }
}

