

.home-hero {

    background: linear-gradient(to bottom right, rgba(16, 16, 16, 0.9), rgba(16, 16, 16, 0.9)),
    url(../img/meat-kabobs.jpeg) center;
    max-width: 1200px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 3rem 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $main-color;
    // overflow: hidden;
    // animation: zoom 1s infinite;

    // @keyframes zoom {
    //     from {
    //         transform: scale(0);
    //         transform-origin: 50% 50%;
            
    //     }
    //     to {
    //         transform: scale(1.3);
    //         transform-origin: 50% 50%;
    //     }
    // }


    h1 {
        font-size: 1.2rem;
        font-weight: unset;
        letter-spacing: 1px;
    }

    p {
        margin-top: 2rem;
        font-size: 7rem;
        font-family: 'Playfair Display', serif;
        letter-spacing: 1px;
        text-align: center;
        line-height: 1.2;
    }

    
}

.schedules {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 6rem 10rem;
    background: linear-gradient(to top, rgba(26, 17, 3, 0.6), rgba(16, 16, 16, 1)),
    url(../img/turkish-roofs.jpg) 50%;

    > * {
        width: 30%;
    }

    .book-table {
        display: block;
        width: 50%;
        text-align: center;
        font-size: 1rem;
        margin-top: 1rem;
    }

    p:first-of-type {
        color: $secondary-color;
    }

    p + p {
        margin-top: 3.5rem;
        margin-right: 3rem;
    }

    p span {
        @extend .main-title;
        line-height: 1.2;
    }

    table {
        border-collapse: collapse;

        th {
            font-family: 'Playfair Display', serif;
            font-size: 1.5rem;
            text-align: unset;
            font-weight: unset;
            padding-bottom: 1rem;
        }

        td:not([rowspan] + td) {
            border-bottom: 1px solid rgba($main-color, 40%);
        }
        td:last-child {
            text-align: right;
        }
    }
}

.testimonials {

    width: 50%;
    margin: 5rem auto;
    text-align: center;
    font-size: 1.1rem;

    blockquote::before {        
        content: url(../img/quotes-right.svg);
        display: block;
        transform: scale(1.8);
        margin-bottom: 1rem;
        overflow: visible
    }
    
    blockquote::after {
        // content: '\f005 \00a0 \00a0 \f005 \00a0 \00a0 \f005 \00a0 \00a0 \f005 \00a0 \00a0 \f005';
        @mixin repeat($character, $n){
            $c:"";
            @for $i from 1 through $n {
              $c: $c + $character;
            }
            content: $c;
        }
        @include repeat('\f005 \00a0 \00a0', 5);
        
        font: var(--fa-font-solid);
        display: block;
        margin-top: 2rem;
        color: $secondary-color;
    }
}