

.home-hero {

    max-width: 1400px;
    min-height: 100vh;
    // overflow: hidden;

    background: linear-gradient(to bottom right, rgba(11, 11, 11, 0.8), rgba(13, 13, 13, 0.8)),
    url(../img/meat-kabobs.jpeg) center;
    color: $main-color;

    margin: 0 auto;
    padding: 3rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        font-size: 1.2rem;
        font-weight: unset;
        letter-spacing: 1px;
    }

    p {
        margin-top: 2rem;
        font-size: 7rem;
        font-family: 'Playfair Display', serif;
        letter-spacing: 1px;
        text-align: center;
        line-height: 1.2;
    }

    
}

.schedules {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 6rem 10rem;
    background: linear-gradient(to top, rgba(26, 17, 3, 0.6), rgba(4, 4, 4, 1)),
    url(../img/turkish-roofs.jpg) 50%;

    > * {
        width: 30%;
    }

    .book-table {
        display: block;
        width: 50%;
        text-align: center;
        font-size: 1rem;
        margin-top: 1rem;
    }

    p:first-of-type {
        color: $secondary-color;
    }

    p + p {
        margin-top: 3.5rem;
        margin-right: 3rem;
    }

    p span {
        @extend .main-title;
        line-height: 1.2;
    }

    table {
        border-collapse: collapse;

        th {
            font-family: 'Playfair Display', serif;
            font-size: 1.5rem;
            text-align: unset;
            font-weight: unset;
            padding-bottom: 1rem;
        }

        td:not([rowspan] + td) {
            border-bottom: 1px solid rgba($main-color, 40%);
        }
        td:last-child {
            text-align: right;
        }
        tr:last-child td {
            padding-top: 1rem;
        }
    }
}

.testimonials {

    width: 50%;
    margin: 5rem auto;
    text-align: center;
    font-size: 1.1rem;

    blockquote::before {        
        content: url(../img/quotes-right.svg);
        display: block;
        transform: scale(1.8);
        margin-bottom: 1rem;
        overflow: visible
    }
    
    blockquote::after {
        // content: '\f005 \00a0 \00a0 \f005 \00a0 \00a0 \f005 \00a0 \00a0 \f005 \00a0 \00a0 \f005';
        @mixin repeat($character, $n){
            $c:"";
            @for $i from 1 through $n {
                $c: $c + $character;
            }
            content: $c;
        }
        @include repeat('\f005 \00a0 \00a0', 5);
        
        font: var(--fa-font-solid);
        font-size: 0.8rem;
        display: block;
        margin: 3.5rem 0 2rem;
        color: $secondary-color;
    }

    p {
        color: $secondary-color;
        margin-bottom: 0;
    }
    cite {
        color: #757575;
        font-style: unset;
    }
}

.video {
    max-height: 70vh;
    overflow: hidden;
    position: relative;
    
    video {
        max-width: 100%;
        object-fit: cover;
        object-position: center right;
    }

    .overlay {
        background: linear-gradient(to right, rgba(16, 16, 16, 0.9), rgba(16, 16, 16, 0.9));
        opacity: 0.7;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;

        h2 {
            transform: unset;
            margin-bottom: 0;
        }
        p {
            margin-top: 0;
            font-size: 1.2rem;
        }
      }
      
}