
// ************************************* //
// ************ HERO SECTION *********** //
// ************************************* //
  
.hero {
    margin-top: -3rem;
    text-align: center;
    background-color: #f7f8fb;
    
    svg {
        fill: #fff;
    }
    
    .hero-title {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -2rem;
        margin-bottom: 3rem;
        font-family: "Archivo", Sans-serif;
        
        p {
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
            margin: 0;
            color: #f7f8fb;
            font-size: 6.5rem;
            font-weight: 700;
            letter-spacing: -0.5px;
            text-shadow: 0px 0px 1px #585367;
        }    

        h1 {
            position: relative;
            font-size: 2.8rem;
            color: #000;

            span {
                color: $main-color;
                font-family: 'Playfair Display', serif;
                font-size: 1.3em;
                color: #e3c26b;
            }
        }
    }

    img {
        max-width: 990px;
    }
}


// ************************************* //
// ************* MENU PICS ************ //
// ************************************* //

.menuPics {
    max-width: 1300px;
    height: 400px;
    margin: 0 auto;
    display: flex;

    img {
        max-width: calc(100% / 3);
        object-fit: cover;
        object-position: center center;
    }


}
.entries {

    column-count: 2;
    column-gap: 5rem;

    h3 {
        font-size: 1.3rem;
        font-weight: unset;
        letter-spacing: 1px;
        color: $secondary-color;
    }

    p {
        position: relative;
        font-family: 'Playfair Display', serif;
        font-size: 1.6rem;
        color: $main-color;

        &::after {
            content: '';
            position: absolute;
            top: 1rem;
            width: 55%;
            margin-left: 1.2rem;
            border-top: 1px solid $main-color;
        }
    }

    span {
        color: $secondary-color;
        float: right;
        margin-top: -3rem;
    }
}