// ************************************* //
// ******* MENU GENERAL SETTINGS ****** //
// ************************************* //


.details {
    color: $aside-color;
    font-style: italic;
    font-size: 0.9rem;
    margin: 0;
}

.subtitle {
    color: $aside-color;
    position: relative;
    text-align: center;

    &::before, &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 105%;
        width: 3rem;
        height: 0.9rem;
        border-bottom: 2px solid rgba($aside-color, 0.4);
    }
    &::after {
        left: 105%;
    }
}


.with-price {
    display: flow-root;
    border-bottom: 1px solid rgba($main-color, 0.3);
    margin-top: -4.5rem;
    margin-bottom: 2rem;
    clear: both;
    
    p {
        font-family: 'Playfair Display', serif;
        font-size: 1.4rem;
        color: $main-color;
        background-color: $main-bg-color;
        transform: translateY(2.6rem);
    }
    p:first-child {
        float: left;
        padding-right: 0.5em;
    }
    p:last-child {
        float: right;
        padding-left: 0.5em;
        color: $secondary-color;
        font-family: unset;
    }
}





// ************************************* //
// ************ HERO SECTION *********** //
// ************************************* //
  
.menu-video-hero {

    @extend.video-hero;
    min-height: 100vh;
    margin-top: -7rem;

    .overlay-menu {
        
        @extend .overlay;
        background: linear-gradient(to top, rgba(16, 16, 16, 0.7), rgba(4, 4, 4, 1));
        flex-direction: column;
        opacity: 1;
        justify-content: center;
        text-align: center;
        padding: 0 22.5em;

        h2, p, .book-table {
            animation: slideUp 0.7s cubic-bezier(0, 0, 0.16, 0.97);
        }
        
        h2 {
            text-transform: unset;
        }
        p {
            font-size: 1rem;
            margin: 0.5rem 0 2rem;
            animation-duration: 1s;
        }
        .book-table {
            font-size: 1rem;
            padding: 0.8em 1.5em;
            animation-duration: 1.5s;
        }
    }
}

.menu-hero {
    margin-top: -3rem;
    text-align: center;
    background-color: #f7f8fb;
    
    svg {
        fill: #fff;
    }
    
    svg.wave-bg {
        transform: rotate(180deg);
    }

    .hero-title {

        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: -8rem;
        margin-bottom: 3rem;
        font-family: "Archivo", Sans-serif;
        
        h1 {
            position: relative;
            margin-bottom: 0;
            font-family: 'Playfair Display', serif;
            font-size: 3rem;
            font-style: italic;
            color: #e3c26b;

        }
        
        .back-title {
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
            margin: 0;
            color: #f7f8fb;
            font-size: 6.5rem;
            font-weight: 700;
            letter-spacing: -0.5px;
            text-shadow: 0px 0px 1px #585367;
        }    
    }

}


// ************************************* //
// ******** MENU PICS [3 IMAGES] ******* //
// ************************************* //

.menu-pics {
    clear: both;
    max-width: 1300px;
    height: 400px;
    margin: 0 auto;
    display: flex;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.486);

    // ZOOM ON HOVERED PIC
    &:has(figure:hover) figure:not(:hover) {
        width: 29%;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }

    // TITLE APPEARS ON HOVER
    img:hover + figcaption, figcaption:hover {
        opacity: 1;
        height: 100%;
    }

    figure {
        position: relative;
        margin: 0;
        width: calc(100% / 3);
        cursor: pointer;
        transition: 1s ease;

        &:hover {
            width: 50%;
        }
        
    }            
    
    figcaption {
        @extend .slide-caption;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}

// H2 AFTER ENTRIES MENU
#entries + h2 {
    margin-top: 40rem;  // Because of floating entries...
}

// ************************************* //
// ************** ENTRIES ************* //
// ************************************* //

#entries {

    padding: 0 12em;

    h3 {
        font-weight: unset;
        letter-spacing: 1px;
        color: $secondary-color;
    }

    .entries-list {

        dl {
            margin: 0.3rem;
            margin-left: 0.6rem;
        }
        dt {
            float: left;
            clear: both;
            margin-right: 1rem;
            color: rgba($main-color, 0.7)
        }
        dd {
            @extend .details;
        }

        // make closer "Entrée mixte pour 1 personne"
        & + .with-price p {
            margin-top: -1.2rem;
        }
    }

    // ON LEFT SIDE : Soupe et entrées 
    li:not(:last-of-type) {
        float: left;
        clear: both;
        width: 50%;
    }

    // ON RIGHT SIDE : Salades à droite 
    li:last-of-type {
        float: right;
        width: calc(50% - 7rem);
        margin-left: 7rem;
        margin-top: -7rem;

        .details {
            color: $aside-color;
            margin-top: -0.5rem;
            margin-bottom: 2rem;
        } 
    }

    
}

// TITLES WITH SUBTITLES
.menu-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem 0;

    h2 {
        line-height: 1.2;
    }

    .subtitle {
        margin-top: 0;
        font-size: 1.2rem;
    }
}


.exception-meats {

    padding: 0 12em;

    li:nth-child(1), li:nth-child(2) {
        float: left;
        clear: both;
        width: 50%;
    }

    li:nth-child(3) {
        margin-top: -15rem;
    }

    li:nth-child(2) ~ li {
        float: right;
        clear: both;
        width: calc(50% - 7rem);
        margin-left: 7rem;
    }
}


.waiting {
    height: 500px;
    clear: both;
}

#desserts {
    height: 100vh;
    background: linear-gradient(to top, rgba(26, 17, 3, 0.75), rgba(4, 4, 4, 0.75)),
    url(img/turkish-tea.jpg) no-repeat;
    background-attachment: fixed;
    background-size: cover;
} 