// ************************************* //
// ******* MENU GENERAL SETTINGS ****** //
// ************************************* //


.details {
    color: $aside-color;
    font-style: italic;
    font-size: 0.9rem;
    margin: 0;
}

.subtitle {
    color: $aside-color;
    position: relative;
    text-align: center;

    &::before, &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 105%;
        width: 3rem;
        height: 0.9rem;
        border-bottom: 2px solid rgba($aside-color, 0.4);
    }
    &::after {
        left: 105%;
    }
}


.with-price {

    display: flex;
    clear: both;
    
    p {
        font-family: 'Playfair Display', serif;
        font-size: 1.4rem;
        color: $main-color;
        
        display: flex;
        align-items: center;
        flex-shrink: 0;
        flex-grow: 1;
        flex-basis: calc((100% / 3) - 2rem);
        margin-bottom: 0;
        margin-top: 1.5rem;
    }

    p:last-child {
        color: $secondary-color;
        font-family: unset;
    }

    // CREATING LINE BETWEEN ITEMS
    p:first-child::after, p:last-child::before {
        content: '';
        background-color: rgba($main-color, 0.3);
        height: 1px;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: calc((100% / 3) - 2rem);        
    }    

    p::after {
        margin-left: 1rem;
    }
    p::before {
        margin-right: 1rem;
    }
}


// TITLES WITH SUBTITLES
.menu-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
    margin-bottom: 3rem;
    clear: both;

    h2 {
        line-height: 1.2;
    }

    .subtitle {
        margin-top: 0;
        font-size: 1.2rem;
    }
}

section:has(.menu-title) {
    margin: 0 2rem;
}

.noOpacity {
    opacity: 0.5;
}

main .slideUp {
    transform: translateY(300px);
    animation: slideUp 0.7s cubic-bezier(0, 0, 0.16, 0.97) forwards;
}



// ************************************* //
// ************ HERO SECTION *********** //
// ************************************* //
  
.menu-video-hero {

    video {
        display: none;
    }

    @extend.video-hero;
    min-height: 100vh;

    .overlay-menu {
        
        @extend .overlay;
        background: linear-gradient(to top, rgba(16, 16, 16, 0.7), rgba(4, 4, 4, 1));
        flex-direction: column;
        opacity: 1;
        justify-content: center;
        text-align: center;
        padding: 0 5em;

        h2, p, .book-table {
            transform: translateY(500px);
            animation: slideUp 0.7s cubic-bezier(0, 0, 0.16, 0.97) forwards;
        }
        
        h2 {
            text-transform: unset;
        }
        p {
            font-size: 1rem;
            margin: 0.5rem 0 2rem;
            animation-duration: 1s;
        }
        .book-table {
            font-size: 1rem;
            padding: 0.8em 1.5em;
            animation-duration: 1.5s;
        }
    }
}


.menu-hero {
    text-align: center;
    background-color: #f7f8fb;
    
    svg {
        fill: #fff;
    }
    
    svg.wave-bg {
        transform: rotate(180deg);
    }

    .hero-title {

        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: -8rem;
        margin-bottom: 3rem;
        font-family: "Archivo", Sans-serif;
        
        h1 {
            position: relative;
            margin-bottom: 0;
            font-family: 'Playfair Display', serif;
            font-size: 3rem;
            font-style: italic;
            color: #e3c26b;

        }
        
        .back-title {
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
            margin: 0;
            color: #f7f8fb;
            font-size: clamp(3rem, 7vw, 6.5rem);
            font-weight: 700;
            letter-spacing: -0.5px;
            text-shadow: 0px 0px 1px #585367;
        }    
    }

}


// ************************************* //
// ******** MENU PICS [3 IMAGES] ******* //
// ************************************* //

.menu-pics {
    clear: both;
    max-width: 1300px;
    height: 350px;
    margin: 0 auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.486);

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }

    // TITLE APPEARS ON HOVER
    img:hover + figcaption, figcaption:hover {
        opacity: 1;
        height: 100%;
    }


    // ZOOM HEIGHT ON HOVERED PIC
    &:has(figure:hover) figure:not(:hover) {
        height: 29%;
    }
        
    figure {
        height: calc(100% / 3);            
        position: relative;
        margin: 0;
        cursor: pointer;
        transition: 1s ease;

        &:hover {
            height: 50%;
        } 
        
    }            
    
    figcaption {
        @extend .slide-caption;
        font-size: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        p {
            margin-top: 0;
        }

        .book-table {
            padding: 0.3em 1em;
        }
    }

}


// ************************************* //
// ************** ENTRIES ************* //
// ************************************* //

#entries {

    margin: 0 2rem;

    h3 {
        font-weight: unset;
        letter-spacing: 1px;
        color: $secondary-color;
        margin-bottom: 0;
    }

    .entries-list {

        dl {
            margin: 0.3rem;
            margin-left: 0.6rem;
        }
        dt {
            float: left;
            clear: both;
            margin-right: 1rem;
            color: rgba($main-color, 0.7)
        }
        dd {
            @extend .details;
        }
    }
 
}

// H2 AFTER ENTRIES MENU
#entries + h2 {
    clear: both;
    padding-top: 3rem;
    margin-bottom: 3rem;
}


.meats {

    li:first-of-type p:first-of-type {
        font-family: 'Playfair Display', serif;
        font-size: 1.4rem;
    }

    p:first-of-type {
        margin-bottom: 0;
    }

}


.fish {

    .fish-pics {
        position: relative;
        height: 20rem;
        width: 31rem;
        margin: 0 auto;

        // cut image half down
        img:first-child {
            position: absolute;
            mask-image: linear-gradient(#000 50%, transparent 0);
        }

        // white line between pics
        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            width: 100%;
            height: 0.3rem;
            background-color: #fff;
            z-index: 10;
        }

        // top-arrow icon
        .fa-caret-up, .fa-caret-down {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -100%);

            width: 3rem;
            height: 1.5rem;
            border-radius: 1.5rem 1.5rem 0 0;
            font-size: 1.2rem;
            padding-top: 0.2em;
            background-color: #fff;
            color: #000;

            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 15;
            cursor: pointer;
        }
        
        // down-arrow icon
        .fa-caret-down {
            border-radius: 0 0 1.5rem 1.5rem;
            transform: translateX(-50%);
            padding-top: 0;
            padding-bottom: 0.2em;
        }

    }

    .with-price {
        clear: unset;
        margin-top: 2rem;
    }
}


.menu-extra {
    clear: both;
    height: 28rem;
    margin-top: 10rem !important;   // OVER WRITTEN
    background: $gradient-melted-overlay, url(img/pide-stone-oven.jpg) center;
    background-attachment: fixed;

    .menu-title {
        padding-top: 0;
        margin-bottom: 0.5rem;

        h2 {
            color: $secondary-color;
            font-size: 1.8rem;
            margin: 0;
        }
    }
    .menu-card {
        width: 100%;
        height: 100%;
        padding: 1.8em 1.3em;
        background-color: $main-color;
        color: #000;
        font-family: 'Playfair Display', serif;
        font-size: 1.2rem;
        font-size: clamp(0.9rem, 2.5vw, 1.1rem);
        font-weight: 500;
        letter-spacing: 0.5px;

        li {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            li p {
                margin-bottom: 0;
            }
        }

    }
}


.menu-flyer {

    margin: 0 3rem;

    .menu-flyer-pics {
        position: relative;
        margin: 2rem auto;
    
        img {
            display: inline-block;
            width: 7rem;
            height: 7rem;
            border-radius: 50%;
            border: 4px solid #fff;
            object-fit: cover;
            object-position: center center;
            position: absolute;
            top: 0;
            transition: 0.5s ease;
        }
    
        // push each image to right to overlap each by each 
        @for $i from 1 through 5 {
            img:nth-child(#{$i}) {
                left: calc(5% + $i * 5rem);
            }
        }
    
        // remove overlapping on hover
        &:hover {

            margin-left: 3rem;
            
            img{
                position: static;         
            }  

            + ul {
                margin-top: 0.2rem;
            }
        }

    }

    ul {
        margin-top: 12rem;

        li {
            font-family: 'Playfair Display', serif;
            font-size: 1.4rem;
            color: $main-color;

            ul {
                margin-top: 0;
                padding-left: 1rem;
                li {
                    @extend .details;
                    
                    &::before {
                        content: '-';
                        margin-right: 0.5rem;
                    }
                }
            }

        }
    }
}

#desserts {
    height: 37rem;
    background: $gradient-melted-overlay, url(img/turkish-tea.jpg) no-repeat;
    background-attachment: fixed;
    background-size: cover;

    .menu-card {
        float: right;

        p {
            margin: 0;
            margin-bottom: 0.5rem;
        }

        li .details {
            margin-top: -0.8rem;
        }
    }
} 


@media screen and (min-width: 800px) {

    .menu-video-hero {
       
        video {
            display: block;
        }
    }

    .menu-pics {
        height: 400px;
        display: flex;

        // ZOOM WIDTH ON HOVERED PIC
        &:has(figure:hover) figure:not(:hover) {
            width: 29%;
            height: auto;
        } 

        figure {
            width: calc(100% / 3);
            height: auto;
    
            &:hover {
                width: 50%;
                height: auto;
            }  

            figcaption .book-table {
                padding: 0.8em 1.3em;
            }
                   
        }
    }

    .fish .fish-pics {
        height: 25rem;
        width: 36rem;

        &::before, .fa-caret-up, .fa-caret-down {
            top: 48%;
        }

    }

}

@media screen and (min-width: 992px) {
    

    section:has(.menu-title) {
        margin: 0 4rem;
    
        li {
            float: left;
            clear: both;
            width: 50%;
        }
    }

    #entries {
        margin: 0 4rem;
          
        // SECOND COLUMN
        li:last-of-type {
            float: right;
            width: calc(50% - 4rem);
            margin-left: 4rem;
            margin-top: -39rem;
        }

    }

    .meats {
        // SECOND COLUMN
        li:nth-child(2) ~ li {
            float: right;
            width: calc(50% - 4rem);
            margin-left: 4rem;
        }

        li:nth-child(3) {
            margin-top: -23rem;
        }
        li:nth-child(4) {
            margin-top: -17rem;
        }
        li:last-of-type {
            margin-top: -7rem;
        }
    }

    .grills, .traditionnal {

        // SECOND COLUMN
        li:nth-child(3) ~ li {
            float: right;
            width: calc(50% - 4rem);
            margin-left: 4rem;
        }
    
        li:nth-child(4) {
            margin-top: -17rem;
        }
        li:nth-child(5) {
            margin-top: -11rem;
        }
        li:nth-child(6) {
            margin-top: -5rem;
        }
        li:nth-child(7) {
            clear: both;
        }
    }

    .steaks {

        // SECOND COLUMN
        li:nth-child(4) ~ li {
            float: right;
            width: calc(50% - 4rem);
            margin-left: 4rem;
        }
    
        li:nth-child(5) {
            margin-top: -25rem;
        }
        li:nth-child(6) {
            margin-top: -19rem;
        }
        li:nth-child(7) {
            margin-top: -13rem;
        }
        li:nth-child(8) {
            margin-top: -5rem;
        }
    }

    .fish {
        .fish-pics {
            float: left;
            margin-right: 3rem;
        }

        .with-price {
            margin-top: 12rem;
        }
    }

    .menu-extra {
        .menu-card {
            width: 50%;
        }
    }

    .menu-flyer {
        margin: 0;
        width: 100%;
        display: flex;

        > * {
            margin: 0 2rem;
            width: calc(50% - 4rem);
        }

        .menu-flyer-pics {

            img {
                width: 5rem;
                height: 5rem;
            }

            &:hover {
            
                img {
                    position: static;
                }  

                + ul {
                    margin-top: 3.6rem;
                }
            }

            @for $i from 1 through 5 {
                img:nth-child(#{$i}) {
                    left: calc($i * 4rem);
                }
            }
        }
    }

}




@media screen and (min-width: 1200px) {

    .menu-video-hero {
              
        .overlay-menu {
            padding: 0 22.5em;
        }
    }

    .menu-flyer {

        .menu-flyer-pics {
    
            @for $i from 1 through 5 {
                img:nth-child(#{$i}) {
                    left: calc(10% + $i * 4rem);
                }
            }
            
            &:hover {
                margin-left: 5.5rem;
            }
    
        }

    }
    
    
    

}


