
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Open+Sans:wght@300;500&family=Playfair+Display:ital,wght@0,400;0,500;1,400&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');

$main-bg-color: #040404;
$main-color: #e5cfbd;
$secondary-color: #dca26b; 
$main-button-txt: #080d16; 
$footer-color: #757575;
$gradient-overlay: linear-gradient(to right, rgba(23, 23, 23, 0.75),  rgba(23, 23, 23, 0.75));

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: $main-bg-color;
    color: $main-color;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.8;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

img {
    max-width: 100%;
    height: auto;
}

.main-title {
    font-size: 2.8rem;
    font-family: 'Playfair Display', serif;
    color: $main-color;
    font-weight: unset;
    letter-spacing: 1px;
    transform: scaleY(1.3);
    text-transform: uppercase;
    text-align: center;
}

h2 {
    @extend .main-title
}

.book-table {
    background-color: $secondary-color;
    color: $main-button-txt;
    padding: 0.8em 1.3em;
    border-radius: 50rem;
    font-size: 1.2rem;
    font-weight: 500;
    transition: 0.3s ease-in;
    text-transform: uppercase;
    
    &:hover {
        transform: scale(1.05); 
    }
}


