
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Open+Sans:wght@300;500&family=Playfair+Display:ital,wght@0,400;0,500;1,400&display=swap');

@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');

$main-bg-color: #040404;
$main-color: #e5cfbd;
$secondary-color: #dca26b; 
$main-button-txt: #080d16; 
$aside-color: #757575;
$gradient-overlay: linear-gradient(to right, rgba(23, 23, 23, 0.75),  rgba(23, 23, 23, 0.75));
$gradient-melted-overlay: linear-gradient(to top, rgba(26, 17, 3, 0.6), rgba(4, 4, 4, 1));

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: $main-bg-color;
    color: $main-color;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.8;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

img {
    max-width: 100%;
    height: auto;
}

.main-title {
    font-size: 2.8rem;
    font-family: 'Playfair Display', serif;
    color: $main-color;
    font-weight: unset;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
}

h2 {
    @extend .main-title;
}


.book-table {
    background-color: $secondary-color;
    color: $main-button-txt;
    padding: 0.8em 1.3em;
    border-radius: 50rem;
    font-size: 1.2rem;
    font-weight: 500;
    transition: 0.3s ease-in;
    text-transform: uppercase;
    
    &:hover {
        transform: scale(1.05); 
    }
}

@keyframes slideUp {
    from {
        transform: translateY(200px);
    }
    to {transform: translateY(0);
    }
}

@keyframes slideToRight {
    from {
        transform: translateX(-200px);
    }
    to {transform: translateX(0);
    }
}

@keyframes slideToLeft {
    from {
        transform: translateX(200px);
    }
    to {transform: translateX(0);
    }
}


.slide-caption {
    position: absolute;
    opacity: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    @extend .main-title;
    color: $secondary-color;
    background-color: rgba(4, 4, 4, 0.9);
    cursor: pointer;
    transition: 0.6s ease-in-out;
}