@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Open+Sans:wght@300;500&family=Playfair+Display:ital,wght@0,400;0,500;1,400&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #040404;
  color: #e5cfbd;
  font-family: "Open Sans", sans-serif;
  line-height: 1.8;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
  height: auto;
}

.main-title, .schedules p span, h2 {
  font-size: 2.8rem;
  font-family: "Playfair Display", serif;
  color: #e5cfbd;
  font-weight: unset;
  letter-spacing: 1px;
  transform: scaleY(1.3);
  text-transform: uppercase;
  text-align: center;
}

.book-table {
  background-color: #dca26b;
  color: #080d16;
  padding: 0.8em 1.3em;
  border-radius: 50rem;
  font-size: 1.2rem;
  font-weight: 500;
  transition: 0.3s ease-in;
  text-transform: uppercase;
}
.book-table:hover {
  transform: scale(1.05);
}

header {
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1rem 0;
  background-color: #040404;
}
header a {
  color: #e5cfbd;
  font-size: 1.4rem;
  text-transform: uppercase;
}
header .menu-link {
  font-family: "Playfair Display", serif;
  font-size: 2.8rem;
  text-transform: unset;
}

.header-border {
  border-bottom: 1px solid rgba(229, 207, 189, 0.1);
}

.home-hero {
  max-width: 1400px;
  min-height: 100vh;
  background: linear-gradient(to bottom right, rgba(11, 11, 11, 0.8), rgba(13, 13, 13, 0.8)), url(../img/meat-kabobs.jpeg) center;
  color: #e5cfbd;
  margin: 0 auto;
  padding: 3rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-hero h1 {
  font-size: 1.2rem;
  font-weight: unset;
  letter-spacing: 1px;
}
.home-hero p {
  margin-top: 2rem;
  font-size: 7rem;
  font-family: "Playfair Display", serif;
  letter-spacing: 1px;
  text-align: center;
  line-height: 1.2;
}

.schedules {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 6rem 10rem;
  background: linear-gradient(to top, rgba(26, 17, 3, 0.6), rgb(4, 4, 4)), url(../img/turkish-roofs.jpg) 50%;
}
.schedules > * {
  width: 30%;
}
.schedules .book-table {
  display: block;
  width: 13rem;
  text-align: center;
  font-size: 1rem;
  margin-top: 1rem;
}
.schedules p:first-of-type {
  color: #dca26b;
}
.schedules p + p {
  margin-top: 3.5rem;
  margin-right: 3rem;
}
.schedules p span {
  line-height: 1.2;
}
.schedules table {
  border-collapse: collapse;
}
.schedules table th {
  font-family: "Playfair Display", serif;
  font-size: 1.5rem;
  text-align: unset;
  font-weight: unset;
  padding-bottom: 1rem;
}
.schedules table td:not([rowspan] + td) {
  border-bottom: 1px solid rgba(229, 207, 189, 0.4);
}
.schedules table td:last-child {
  text-align: right;
}
.schedules table tr:last-child td {
  padding-top: 1rem;
}

.testimonials {
  width: 50%;
  margin: 5rem auto;
  text-align: center;
  font-size: 1.1rem;
}
.testimonials blockquote::before {
  content: url(../img/quotes-right.svg);
  display: block;
  transform: scale(1.8);
  margin-bottom: 1rem;
  overflow: visible;
}
.testimonials blockquote::after {
  content: "\f005  \f005  \f005  \f005  \f005  ";
  font: var(--fa-font-solid);
  font-size: 0.8rem;
  display: block;
  margin: 3.5rem 0 2rem;
  color: #dca26b;
}
.testimonials p {
  color: #dca26b;
  margin-bottom: 0;
}
.testimonials cite {
  color: #757575;
  font-style: unset;
}

.video {
  max-height: 70vh;
  overflow: hidden;
  position: relative;
}
.video video {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center right;
     object-position: center right;
}
.video .overlay {
  background: linear-gradient(to right, rgba(16, 16, 16, 0.9), rgba(16, 16, 16, 0.9));
  opacity: 0.7;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.video .overlay h2 {
  transform: unset;
  margin-bottom: 0;
}
.video .overlay p {
  margin-top: 0;
  font-size: 1.2rem;
}

.menu-hero {
  margin-top: -3rem;
  text-align: center;
  background-color: #f7f8fb;
}
.menu-hero svg {
  fill: #fff;
}
.menu-hero .hero-title {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -2rem;
  margin-bottom: 3rem;
  font-family: "Archivo", Sans-serif;
}
.menu-hero .hero-title p {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  color: #f7f8fb;
  font-size: 6.5rem;
  font-weight: 700;
  letter-spacing: -0.5px;
  text-shadow: 0px 0px 1px #585367;
}
.menu-hero .hero-title h1 {
  position: relative;
  font-size: 2.8rem;
  color: #000;
}
.menu-hero .hero-title h1 span {
  color: #e5cfbd;
  font-family: "Playfair Display", serif;
  font-size: 1.3em;
  color: #e3c26b;
}
.menu-hero img {
  max-width: 990px;
}

.menu-pics {
  max-width: 1300px;
  height: 400px;
  margin: 0 auto;
  display: flex;
}
.menu-pics img {
  max-width: 33.3333333333%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

.entries {
  -moz-column-count: 2;
       column-count: 2;
  -moz-column-gap: 5rem;
       column-gap: 5rem;
}
.entries h3 {
  font-size: 1.3rem;
  font-weight: unset;
  letter-spacing: 1px;
  color: #dca26b;
}
.entries p {
  position: relative;
  font-family: "Playfair Display", serif;
  font-size: 1.6rem;
  color: #e5cfbd;
}
.entries p::after {
  content: "";
  position: absolute;
  top: 1rem;
  width: 55%;
  margin-left: 1.2rem;
  border-top: 1px solid #e5cfbd;
}
.entries span {
  color: #dca26b;
  float: right;
  margin-top: -3rem;
}/*# sourceMappingURL=main.css.map */