@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Open+Sans:wght@300;500&family=Playfair+Display:ital,wght@0,400;0,500;1,400&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css");
* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  background-color: #040404;
  color: #e5cfbd;
  font-family: "Open Sans", sans-serif;
  line-height: 1.8;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.main-title, .schedules p span, .slide-caption, .menu-pics figcaption, .pic-gallery figure figcaption, h2 {
  font-size: 2.8rem;
  font-family: "Playfair Display", serif;
  color: #e5cfbd;
  font-weight: unset;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
}

.book-table {
  background-color: #dca26b;
  color: #080d16;
  padding: 0.8em 1.3em;
  border-radius: 50rem;
  font-size: 1.2rem;
  font-weight: 500;
  transition: 0.3s ease-in;
  text-transform: uppercase;
}
.book-table:hover {
  transform: scale(1.05);
}

@keyframes slideUp {
  to {
    transform: translateY(0);
  }
}
@keyframes slideToRight {
  from {
    transform: translateX(-200px);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slideToLeft {
  from {
    transform: translateX(200px);
  }
  to {
    transform: translateX(0);
  }
}
.slide-caption, .menu-pics figcaption, .pic-gallery figure figcaption {
  position: absolute;
  opacity: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #dca26b;
  background-color: rgba(4, 4, 4, 0.9);
  cursor: pointer;
  transition: 0.6s ease-in-out;
}

.overlay, .menu-video-hero .overlay-menu {
  background: linear-gradient(to right, rgba(16, 16, 16, 0.9), rgba(16, 16, 16, 0.9));
  opacity: 0.7;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

header {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
  background-color: #040404;
}
header img {
  width: clamp(10rem, 19vw, 14rem);
}
header a {
  color: #e5cfbd;
  font-size: 1.4rem;
  text-transform: uppercase;
}
header .menu-link {
  font-family: "Playfair Display", serif;
  font-size: clamp(1.7rem, 3vw, 2.8rem);
  text-transform: unset;
}
header .book-table {
  display: none;
}

.header-border {
  border-bottom: 1px solid rgba(229, 207, 189, 0.3);
}

@media screen and (min-width: 700px) {
  header {
    flex-direction: row;
    justify-content: space-around;
  }
}
@media screen and (min-width: 992px) {
  header .book-table {
    display: block;
  }
}
footer {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 6em;
  padding-bottom: 0;
}
footer img[alt^=logo] {
  width: 20rem;
  -o-object-fit: contain;
     object-fit: contain;
}
footer a {
  color: #757575;
}
footer .internal-links li {
  padding: 0.8em 0.9em;
}
footer .internal-links li a:hover {
  color: #dca26b;
}
footer address {
  margin-top: 1rem;
}
footer address > a {
  display: block;
  margin: 0.5rem 0;
  font-style: initial;
}
footer address .network-links {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}
footer address .network-links a {
  font-size: 1.8rem;
  margin: 0 1rem;
}
footer address .network-links a:hover {
  color: #dca26b;
}
footer address .network-links svg:hover path {
  fill: #dca26b;
}
footer .copyright {
  padding: 0 2rem;
  font-size: 0.9rem;
  color: #757575;
}

hr {
  border: none;
  border-top: 1px solid rgba(229, 207, 189, 0.1);
  position: relative;
  bottom: 6rem;
  width: 100%;
}

@media screen and (min-width: 700px) {
  .internal-links {
    -moz-column-count: 2;
         column-count: 2;
  }
  .copyright {
    margin-top: 2rem;
  }
  hr {
    bottom: 8rem;
  }
}
@media screen and (min-width: 1000px) {
  footer {
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
    margin-left: -1.5em;
  }
  .network-links {
    justify-content: space-between;
  }
  .copyright {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
  }
}
.home-hero {
  max-width: 1400px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 3rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #e5cfbd;
  animation: slider 18s infinite ease-in-out;
}
@keyframes slider {
  0% {
    background: linear-gradient(to right, rgba(23, 23, 23, 0.75), rgba(23, 23, 23, 0.75)), url(img/green-pepper-on-meat.jpg) center;
  }
  25% {
    background: linear-gradient(to right, rgba(23, 23, 23, 0.75), rgba(23, 23, 23, 0.75)), url(img/meat-kabobs.jpeg) center;
  }
  75% {
    background: linear-gradient(to right, rgba(23, 23, 23, 0.75), rgba(23, 23, 23, 0.75)), url(img/pide-stone-oven.jpg) no-repeat;
    background-size: cover;
  }
  100% {
    background: linear-gradient(to right, rgba(23, 23, 23, 0.75), rgba(23, 23, 23, 0.75)), url(img/kunefe-scaled.jpg) no-repeat;
    background-size: cover;
  }
}
.home-hero h1 {
  font-size: clamp(0.9rem, 3vw, 1.2rem);
  text-align: center;
  font-weight: unset;
  letter-spacing: 1px;
  animation: appear 2s ease;
}
@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.home-hero p {
  margin-top: 2rem;
  font-size: clamp(2rem, 10vw, 7rem);
  font-family: "Playfair Display", serif;
  letter-spacing: 1px;
  text-align: center;
  line-height: 1.2;
  animation: slideUp 0.7s cubic-bezier(0, 0, 0.16, 0.97);
}

.schedules {
  min-height: 100vh;
  text-align: center;
  padding: 3rem;
  background: linear-gradient(to top, rgba(26, 17, 3, 0.6), rgb(4, 4, 4)), url(img/turkish-roofs.jpg) 50%;
  overflow: hidden;
}
.schedules > * {
  transform: translateY(500px);
}
.schedules .book-table {
  display: block;
  width: 13rem;
  text-align: center;
  font-size: 1rem;
  margin: 0 auto;
  margin-top: 2rem;
}
.schedules p:first-of-type {
  color: #dca26b;
}
.schedules p + p {
  margin-top: 3.5rem;
}
.schedules p span {
  line-height: 1.2;
}
.schedules table {
  border-collapse: collapse;
  margin: 3.5rem auto;
  width: 100%;
}
.schedules table th {
  font-family: "Playfair Display", serif;
  font-size: 1.5rem;
  text-align: unset;
  font-weight: unset;
  padding-bottom: 1rem;
}
.schedules table th, .schedules table td {
  text-align: left;
}
.schedules table td:not([rowspan] + td) {
  border-bottom: 1px solid rgba(229, 207, 189, 0.4);
}
.schedules table td:last-child {
  text-align: right;
}
.schedules table tr:last-child td {
  padding-top: 1rem;
}

.schedules.slideUp > * {
  animation: slideUp 0.7s ease-in forwards;
}

.schedules.slideUp p:last-of-type {
  animation-delay: 0.2s;
}

.schedules.slideUp table {
  animation-delay: 0.4s;
}

.testimonials {
  width: 50%;
  margin: 5rem auto;
  text-align: center;
  font-size: 1.1rem;
  overflow-x: hidden;
  gap: 20px;
}
.testimonials .slider {
  min-width: 100%;
  display: flex;
  transition: 0.8s ease;
}
.testimonials article {
  min-width: 100%;
}
.testimonials blockquote::before {
  content: url(img/quotes-right.svg);
  display: block;
  transform: scale(1.8);
  margin-bottom: 1rem;
  overflow: visible;
}
.testimonials blockquote::after {
  content: "\f005  \f005  \f005  \f005  \f005  ";
  font: var(--fa-font-solid);
  font-size: 0.8rem;
  display: block;
  margin: 3.5rem 0 2rem;
  color: #dca26b;
}
.testimonials p {
  color: #dca26b;
  margin-bottom: 0;
}
.testimonials cite {
  color: #757575;
  font-style: unset;
}

.video-hero, .menu-video-hero {
  max-height: 70vh;
  overflow: hidden;
  position: relative;
}
.video-hero video, .menu-video-hero video {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center right;
     object-position: center right;
}
.video-hero .overlay h2, .menu-video-hero .overlay h2, .menu-video-hero .overlay-menu h2 {
  margin-bottom: 0;
}
.video-hero .overlay p, .menu-video-hero .overlay p, .menu-video-hero .overlay-menu p {
  margin-top: 0;
  font-size: 1.2rem;
}

.video-hero.slideX .overlay div, .video-hero.slideX .menu-video-hero .overlay-menu div, .menu-video-hero .video-hero.slideX .overlay-menu div, .slideX.menu-video-hero .overlay div, .slideX.menu-video-hero .overlay-menu div {
  animation: slideToRight 0.7s ease-in;
}
.video-hero.slideX .overlay a, .video-hero.slideX .menu-video-hero .overlay-menu a, .menu-video-hero .video-hero.slideX .overlay-menu a, .slideX.menu-video-hero .overlay a, .slideX.menu-video-hero .overlay-menu a {
  animation: slideToLeft 0.7s ease-in;
}

.intro-menu {
  width: 85%;
  margin: 12rem auto 8rem;
}
.intro-menu img {
  margin-right: 5rem;
  margin-bottom: 3rem;
  filter: opacity(0.6);
}
.intro-menu article {
  text-align: center;
}
.intro-menu article p:first-of-type {
  color: #dca26b;
  letter-spacing: 5px;
}
.intro-menu article h2 {
  text-transform: unset;
  line-height: 1.1;
  margin: 1rem 0;
}
.intro-menu .book-table {
  display: block;
  width: 12rem;
  margin: 2rem auto 0;
}

.pic-gallery {
  display: flex;
  flex-wrap: wrap;
}
.pic-gallery figure {
  position: relative;
  margin: 0;
  width: 100%;
  height: 17rem;
}
.pic-gallery figure img {
  height: 17rem;
  -o-object-fit: cover;
     object-fit: cover;
  min-width: 100%;
  cursor: pointer;
}
.pic-gallery figure img:hover + figcaption, .pic-gallery figure figcaption:hover {
  opacity: 1;
  height: 100%;
}
.book-hero {
  background: linear-gradient(to bottom right, rgba(11, 11, 11, 0.8), rgba(13, 13, 13, 0.8)), url(./img/restaurant-room.jpg) fixed no-repeat;
  background-size: cover;
  min-height: 30rem;
  padding-bottom: 5rem;
  display: none;
}
.book-hero article {
  width: 57%;
  text-align: center;
}
.book-hero article h2 {
  text-transform: unset;
  margin-bottom: 0;
}
.book-hero article p {
  padding: 0 2rem;
  margin-bottom: 3rem;
}

@media screen and (min-width: 700px) {
  .pic-gallery figure {
    width: 50%;
  }
  .book-hero {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 992px) {
  .schedules {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 3rem;
    gap: 3rem;
  }
  .schedules p:first-of-type {
    width: 100%;
  }
  .schedules > * {
    width: calc(50% - 6rem);
  }
  .schedules .book-table {
    margin-top: 1rem;
  }
  .schedules table {
    margin: auto;
    width: auto;
  }
  .video-hero .overlay, .menu-video-hero .overlay, .menu-video-hero .overlay-menu {
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
  }
  .intro-menu {
    display: flex;
    flex-wrap: wrap;
  }
  .intro-menu img {
    max-width: 50%;
    -o-object-fit: contain;
       object-fit: contain;
    margin-bottom: 0;
  }
  .intro-menu article {
    width: calc(50% - 5rem);
  }
  .intro-menu article P {
    margin-top: 0;
  }
  .intro-menu .book-table {
    margin-top: 4rem;
  }
  .pic-gallery figure {
    width: 25%;
  }
}
@media screen and (min-width: 1200px) {
  .schedules {
    padding: 6rem 10rem;
    gap: 2rem;
  }
  .schedules p:first-of-type {
    width: calc(30% - 2rem);
  }
  .schedules > * {
    width: calc(30% - 2rem);
  }
}
:root {
  --top: 50%;
}

.details, #entries .entries-list dd {
  color: #757575;
  font-style: italic;
  font-size: 0.9rem;
  margin: 0;
}

.subtitle {
  color: #757575;
  position: relative;
  text-align: center;
}
.subtitle::before, .subtitle::after {
  content: "";
  position: absolute;
  top: 0;
  right: 105%;
  width: 3rem;
  height: 0.9rem;
  border-bottom: 2px solid rgba(117, 117, 117, 0.4);
}
.subtitle::after {
  left: 105%;
}

.with-price {
  display: flex;
  clear: both;
}
.with-price p {
  font-family: "Playfair Display", serif;
  font-size: 1.4rem;
  color: #e5cfbd;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-grow: 1;
  flex-basis: calc(33.3333333333% - 2rem);
  margin-bottom: 0;
  margin-top: 1.5rem;
}
.with-price p:last-child {
  color: #dca26b;
  font-family: unset;
}
.with-price p:first-child::after, .with-price p:last-child::before {
  content: "";
  background-color: rgba(229, 207, 189, 0.3);
  height: 1px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: calc(33.3333333333% - 2rem);
}
.with-price p::after {
  margin-left: 1rem;
}
.with-price p::before {
  margin-right: 1rem;
}

.menu-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3rem;
  margin-bottom: 3rem;
  clear: both;
}
.menu-title h2 {
  line-height: 1.2;
}
.menu-title .subtitle {
  margin-top: 0;
  font-size: 1.2rem;
}

section:has(.menu-title) {
  margin: 0 2rem;
}

.noOpacity {
  opacity: 0.5;
}

main .slideUp {
  transform: translateY(300px);
  animation: slideUp 0.7s cubic-bezier(0, 0, 0.16, 0.97) forwards;
}

.menu-video-hero {
  min-height: 100vh;
}
.menu-video-hero video {
  display: none;
}
.menu-video-hero .overlay-menu {
  background: linear-gradient(to top, rgba(16, 16, 16, 0.7), rgb(4, 4, 4));
  flex-direction: column;
  opacity: 1;
  justify-content: center;
  text-align: center;
  padding: 0 5em;
}
.menu-video-hero .overlay-menu h2, .menu-video-hero .overlay-menu p, .menu-video-hero .overlay-menu .book-table {
  transform: translateY(500px);
  animation: slideUp 0.7s cubic-bezier(0, 0, 0.16, 0.97) forwards;
}
.menu-video-hero .overlay-menu h2 {
  text-transform: unset;
}
.menu-video-hero .overlay-menu p {
  font-size: 1rem;
  margin: 0.5rem 0 2rem;
  animation-duration: 1s;
}
.menu-video-hero .overlay-menu .book-table {
  font-size: 1rem;
  padding: 0.8em 1.5em;
  animation-duration: 1.5s;
}

.menu-hero {
  text-align: center;
  background-color: #f7f8fb;
}
.menu-hero svg {
  fill: #fff;
}
.menu-hero svg.wave-bg {
  transform: rotate(180deg);
}
.menu-hero .hero-title {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -8rem;
  margin-bottom: 3rem;
  font-family: "Archivo", Sans-serif;
}
.menu-hero .hero-title h1 {
  position: relative;
  margin-bottom: 0;
  font-family: "Playfair Display", serif;
  font-size: 3rem;
  font-style: italic;
  color: #e3c26b;
}
.menu-hero .hero-title .back-title {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  color: #f7f8fb;
  font-size: clamp(3rem, 7vw, 6.5rem);
  font-weight: 700;
  letter-spacing: -0.5px;
  text-shadow: 0px 0px 1px #585367;
}

.menu-pics {
  clear: both;
  max-width: 1300px;
  height: 350px;
  margin: 0 auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.486);
}
.menu-pics img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}
.menu-pics img:hover + figcaption, .menu-pics figcaption:hover {
  opacity: 1;
  height: 100%;
}
.menu-pics:has(figure:hover) figure:not(:hover) {
  height: 29%;
}
.menu-pics figure {
  height: 33.3333333333%;
  position: relative;
  margin: 0;
  cursor: pointer;
  transition: 1s ease;
}
.menu-pics figure:hover {
  height: 50%;
}
.menu-pics figcaption {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menu-pics figcaption p {
  margin-top: 0;
}
.menu-pics figcaption .book-table {
  padding: 0.3em 1em;
}

#entries {
  margin: 0 2rem;
}
#entries h3 {
  font-weight: unset;
  letter-spacing: 1px;
  color: #dca26b;
  margin-bottom: 0;
}
#entries .entries-list dl {
  margin: 0.3rem;
  margin-left: 0.6rem;
}
#entries .entries-list dt {
  float: left;
  clear: both;
  margin-right: 1rem;
  color: rgba(229, 207, 189, 0.7);
}
#entries + h2 {
  clear: both;
  padding-top: 3rem;
  margin-bottom: 3rem;
}

.meats li:first-of-type p:first-of-type {
  font-family: "Playfair Display", serif;
  font-size: 1.4rem;
}
.meats p:first-of-type {
  margin-bottom: 0;
}

.fish .fish-pics {
  position: relative;
  height: 20rem;
  width: 31rem;
  margin: 0 auto;
}
.fish .fish-pics img:first-child {
  position: absolute;
  -webkit-mask-image: linear-gradient(#000 50%, transparent 0);
          mask-image: linear-gradient(#000 50%, transparent 0);
}
.fish .fish-pics::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  height: 0.3rem;
  background-color: #fff;
  z-index: 10;
}
.fish .fish-pics .fa-caret-up, .fish .fish-pics .fa-caret-down {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  width: 3rem;
  height: 1.5rem;
  border-radius: 1.5rem 1.5rem 0 0;
  font-size: 1.2rem;
  padding-top: 0.2em;
  background-color: #fff;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 15;
  cursor: pointer;
}
.fish .fish-pics .fa-caret-down {
  border-radius: 0 0 1.5rem 1.5rem;
  transform: translateX(-50%);
  padding-top: 0;
  padding-bottom: 0.2em;
}
.fish .with-price {
  clear: unset;
  margin-top: 2rem;
}

.menu-extra {
  clear: both;
  height: 80vh;
  margin-top: 10rem !important;
  background: linear-gradient(to top, rgba(26, 17, 3, 0.6), rgb(4, 4, 4)), url(img/pide-stone-oven.jpg) center;
  background-attachment: fixed;
}
.menu-extra .menu-title {
  padding-top: 0;
}
.menu-extra .menu-title h2 {
  color: #dca26b;
  font-size: 1.8rem;
  margin: 0;
}
.menu-extra .menu-card {
  width: 45%;
  height: 100%;
  padding: 1.8em 1.3em;
  background-color: #e5cfbd;
  color: #000;
  font-family: "Playfair Display", serif;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.5px;
}
.menu-extra .menu-card li {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-extra .menu-card li:last-of-type p {
  margin-bottom: 0;
}

.menu-card-pics {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 2rem 0;
}
.menu-card-pics img {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  border: 4px solid #fff;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  position: absolute;
  top: 0;
  transition: 0.5s ease;
}
.menu-card-pics img:nth-child(1) {
  left: calc(30% + 5.2rem);
}
.menu-card-pics img:nth-child(2) {
  left: calc(30% + 10.4rem);
}
.menu-card-pics img:nth-child(3) {
  left: calc(30% + 15.6rem);
}
.menu-card-pics img:nth-child(4) {
  left: calc(30% + 20.8rem);
}
.menu-card-pics img:nth-child(5) {
  left: calc(30% + 26rem);
}
.menu-card-pics:hover img {
  position: static;
  margin-right: 0.8rem;
}

#desserts {
  height: 85vh;
  background: linear-gradient(to top, rgba(26, 17, 3, 0.6), rgb(4, 4, 4)), url(img/turkish-tea.jpg) no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
#desserts .menu-title {
  margin-bottom: 1.5rem;
}
#desserts .menu-card {
  float: right;
}
#desserts .menu-card p {
  margin: 0;
  margin-bottom: 0.5rem;
}
#desserts .menu-card li .details, #desserts .menu-card li #entries .entries-list dd, #entries .entries-list #desserts .menu-card li dd {
  margin-top: -0.8rem;
}

@media screen and (min-width: 800px) {
  .menu-video-hero video {
    display: block;
  }
  .menu-pics {
    height: 400px;
    display: flex;
  }
  .menu-pics:has(figure:hover) figure:not(:hover) {
    width: 29%;
    height: auto;
  }
  .menu-pics figure {
    width: 33.3333333333%;
    height: auto;
  }
  .menu-pics figure:hover {
    width: 50%;
    height: auto;
  }
  .menu-pics figure figcaption .book-table {
    padding: 0.8em 1.3em;
  }
  .fish .fish-pics {
    height: 25rem;
    width: 36rem;
  }
  .fish .fish-pics::before, .fish .fish-pics .fa-caret-up, .fish .fish-pics .fa-caret-down {
    top: 48%;
  }
}
@media screen and (min-width: 992px) {
  section:has(.menu-title) {
    margin: 0 4rem;
  }
  section:has(.menu-title) li {
    float: left;
    clear: both;
    width: 50%;
  }
  #entries {
    margin: 0 4rem;
  }
  #entries li:last-of-type {
    float: right;
    width: calc(50% - 4rem);
    margin-left: 4rem;
    margin-top: -39rem;
  }
  .meats li:nth-child(2) ~ li {
    float: right;
    width: calc(50% - 4rem);
    margin-left: 4rem;
  }
  .meats li:nth-child(3) {
    margin-top: -23rem;
  }
  .meats li:nth-child(4) {
    margin-top: -17rem;
  }
  .meats li:last-of-type {
    margin-top: -7rem;
  }
  .grills li:nth-child(3) ~ li, .traditionnal li:nth-child(3) ~ li {
    float: right;
    width: calc(50% - 4rem);
    margin-left: 4rem;
  }
  .grills li:nth-child(4), .traditionnal li:nth-child(4) {
    margin-top: -17rem;
  }
  .grills li:nth-child(5), .traditionnal li:nth-child(5) {
    margin-top: -11rem;
  }
  .grills li:nth-child(6), .traditionnal li:nth-child(6) {
    margin-top: -5rem;
  }
  .grills li:nth-child(7), .traditionnal li:nth-child(7) {
    clear: both;
  }
  .steaks li:nth-child(4) ~ li {
    float: right;
    width: calc(50% - 4rem);
    margin-left: 4rem;
  }
  .steaks li:nth-child(5) {
    margin-top: -25rem;
  }
  .steaks li:nth-child(6) {
    margin-top: -19rem;
  }
  .steaks li:nth-child(7) {
    margin-top: -13rem;
  }
  .steaks li:nth-child(8) {
    margin-top: -5rem;
  }
  .fish .fish-pics {
    float: left;
    margin-right: 3rem;
  }
  .fish .with-price {
    margin-top: 12rem;
  }
}
@media screen and (min-width: 1200px) {
  .menu-video-hero .overlay-menu {
    padding: 0 22.5em;
  }
}/*# sourceMappingURL=main.css.map */