
// ************************************************ //
// ****************  GENERALITIES  **************** //
// ************************************************ //

@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Open+Sans:wght@300;500&family=Playfair+Display:ital,wght@1,700&display=swap');
 
$main-bg-color: #040404;
$main-txt-color: #e5cfbd;
$main-button-bg: #dca26b; 
$main-button-txt: #080d16; 

body {
    margin: 0;
    background-color: $main-bg-color;
    font-family: 'Open Sans', sans-serif;
    height: 600vh;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

h1, h2 {
    color: $main-txt-color;
}


// ************************************************ //
// *******************  HEADER  ******************* //
// ************************************************ //

header {
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1rem 0;
    background-color: $main-bg-color;

    a {
        color: $main-txt-color;
        font-size: 1.4rem;
        text-transform: uppercase;
    }

    a.bookTable {
        background-color: $main-button-bg;
        color: $main-button-txt;
        padding: 0.8em 1.3em;
        border-radius: 50rem;
        font-size: 1.2rem;
        font-weight: 500;
        transition: 0.3s ease-in;

        &:hover {
            transform: scale(1.05);
        }
    }  
}
    
.hero {
    margin-top: -3rem;
    text-align: center;
    background-color: #f7f8fb;
    
    svg {
        fill: #fff;
    }
    
    .hero-title {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -2rem;
        margin-bottom: 3rem;
        font-family: "Archivo", Sans-serif;
        
        p {
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
            margin: 0;
            color: #f7f8fb;
            font-size: 6.5rem;
            font-weight: 700;
            letter-spacing: -0.5px;
            text-shadow: 0px 0px 1px #585367;
        }    

        h1 {
            position: relative;
            font-size: 2.8rem;
            color: #000;

            span {
                color: $main-txt-color;
                font-family: 'Playfair Display', serif;
                font-size: 1.3em;
                color: #e3c26b;
            }
        }
    }

    img {
        max-width: 990px;
    }
}



